<%= render "layouts/menubar"%>
<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Personal Detail</a></li>
    <li class="breadcrumb-item"><a href="#">Legal Spouse</a></li>
    <li class="breadcrumb-item"><a href="#">Children</a></li>
    <li class="breadcrumb-item active">Relative</li>
  </ul>
  <h2>Progress</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
  </div>
<h1>New Relative</h1>

<%= render 'form', relative: @relative %>

<%= link_to 'Back', relatives_path %>
</div>
<%= render "layouts/footer"%>

<style>
.container-background{
  height: 350px;
}
</style>
