<h1>Editing Qualification Detail</h1>

<%= render 'form', qualification_detail: @qualification_detail %>

<%= link_to 'Show', @qualification_detail %> |
<%= link_to 'Back', qualification_details_path %>
