<%= render "layouts/menubar"%>
<div class="container">
<center>
<h1>Your Registration has been successfully uploaded.</h1>
<br/>
<img src="https://martielbeatty.com/wp-content/uploads/2018/03/green-tick-png-green-tick-icon-image-14141-1000.png" height="450px">
<br/>
<br/>
<br/>
</center>
</div>
<%= render "layouts/footer"%>

<style>
.container-background{
  height: 350px;
}
</style>
